
body {
  overflow-x: hidden;
  color: rgb(40, 58, 122)
}



/*--- Navigation ---*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size:.9rem;
  letter-spacing:.1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand {
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(40, 58, 122);
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--- Landing Page ---*/

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/*--- About Me ---*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 0rem;
}
.narrow h2 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: rgb(40, 58, 122);
  border-color: rgb(40, 58, 122);
}
.btn-secondary:hover {
  background-color: rgb(27, 40, 88);
  border-color: rgb(27, 40, 88);
}

/*--- Footer ---*/

.jumbotron {
  background-color: rgb(231, 232, 245);
}

footer {
  background-color: rgb(30, 33, 43);
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 14rem 0 0;
}
hr.socket {
  width: 100%;
  border-top: .2rem solid rgb(40, 58, 122);
}


@media (max-width: 767px;) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
}






.textStyle {
  font-size: 2.3rem;
  font-weight: bold;
	margin: 0px auto;
	color: rgb(27, 40, 88);
	padding: 0px;
}

.container {
	overflow: hidden;
}

.txt {
	position: relative;
}

.txt span {
	display: inline-block;
}





.ovl {
  opacity: 0;
}
.ovl:hover {
  opacity: 1;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
